repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: sed -i '' 's/[[:space:]]*$//'
        language: system
        types: [text]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: bash -c 'for f in "$@"; do [[ -s "$f" && -z "$(tail -c1 "$f")" ]] || echo >> "$f"; done'
        language: system
        types: [text]

      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: uv run mypy --ignore-missing-imports
        language: system
        types: [python]
        pass_filenames: false
        args: [src/]
